@font-face {
  font-family: 'iconfont';  /* project id 2179641 */
  src: url('//at.alicdn.com/t/font_2179641_s1b7eegk3vh.eot');
  src: url('//at.alicdn.com/t/font_2179641_s1b7eegk3vh.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2179641_s1b7eegk3vh.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2179641_s1b7eegk3vh.woff') format('woff'),
  url('//at.alicdn.com/t/font_2179641_s1b7eegk3vh.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2179641_s1b7eegk3vh.svg#iconfont') format('svg');
}

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }